
/* 
    Created on : 19 mar. 2023, 14:34:35
    Author     : Fernando Gamboa 
*/

#padreG1,#padreG2,#padreG3,#padreG4,#padreG5,#padreG6 {
  transition: background-color 0.5s ease-in-out;
  background-color: #F44336;
}
